@using CEMIS.Utility.ViewModel
@model RevenueEstimateItemViewModel
@{
    ViewBag.Title = "Revenue Estimate";


}

<div class="vatebra-pageheader">
    <ol class="breadcrumb vatebra-breadcrumb">
        <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
        @*<li class="breadcrumb-item text-white active" aria-current="page">College Management</li>*@
    </ol>
    <h6 class="vatebra-pagetitle text-uppercase">Revenue Estimate Items</h6>
</div>
@using (Html.BeginForm("AddRevItem", "RevenueEstimate", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="panel">
        <div class="panel-title"></div>
        <div class="panel-heading">
            <h3 style="text-align:center; text-decoration:underline"><b>ACCRA COLLEGE OF EDUCATION</b></h3>
            <h3 style="text-align:center; text-decoration:underline"><b>NON-TAX REVENUE/INTERNALLY GENERATED FUNDS (NTR/IGFs)</b></h3>
            <h3 style="text-align:center; text-decoration:underline"><b>MONTHLY REPORTING FORMAT</b></h3>
        </div>

        <div class="panel-body">



            <div class="col-md-12" id="college">


                <section class="card" style="margin-top:50px">

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7">
                            <label class="col-sm-3">MDA:  </label>
                            <div class="col-sm-4">@Html.TextBoxFor(x => x.MDA)  @Html.ValidationMessageFor(x => @x.MDA, null, new { @style = "color:red" })</div>

                        </div>

                        <div class="col-md-5">
                            <label>LODGEMENT ACCONT No:  @Html.TextBoxFor(x => x.LodgementAccNo)  @Html.ValidationMessageFor(x => @x.LodgementAccNo, null, new { @style = "color:red" })</label>
                            @*<div class="col-sm-3"></div>*@
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7">
                            <label class="col-sm-3">COST CENTRE:  </label>
                            <div class="col-sm-4">@Html.TextBoxFor(x => x.CostCentre) @Html.ValidationMessageFor(x => @x.CostCentre, null, new { @style = "color:red" })</div>
                        </div>

                        <div class="col-md-5">

                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7">
                            <label class="col-sm-3">REPORT YEAR:</label>
                            <div class="col-sm-4">@Html.TextBoxFor(x => x.ReportingYear) @Html.ValidationMessageFor(x => @x.ReportingYear, null, new { @style = "color:red" })</div>
                        </div>

                        <div class="col-md-5">

                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7">
                            <label class="col-sm-3">REPORT MONTH: </label>
                            <div class="col-sm-4"><select style="width:100%" name="ReportingMonth" asp-for="ReportingMonth" asp-items="Html.GetEnumSelectList(typeof(Month))"></select>@Html.ValidationMessageFor(x => @x.ReportingMonth, null, new { @style = "color:red" })</div>
                            @*<div class="col-sm-4">@Html.TextBoxFor(x => x.ReportingMonth)</div>*@
                        </div>

                        <div class="col-md-5">
                            <label>RETENTION ACCOUNT No: @Html.TextBoxFor(x => x.RetentionAccNo) @Html.ValidationMessageFor(x => @x.RetentionAccNo, null, new { @style = "color:red" })</label>
                        </div>
                    </div>

                </section>

                <section class="col-md-24">

                    <div class="row" style="margin-top:50px">
                        <div class="col-md-12">

                            <div class="table-responsive" style="width:100%">

                                <table id="table1" class="display table" style="width:150%">
                                    <thead>

                                        <tr>
                                            <th style="visibility:hidden;"></th>
                                            <th>TYPE OF REV.</th>
                                            <th>MONTHLY TARGET</th>
                                            <th>MONTHLY AMT. CLTD</th>
                                            <th>AMT. CLTD. TO DATE</th>
                                            <th>MONTHLY AMT. PAID INTO CNSL</th>
                                            <th>PAID INTO CNSL</th>
                                            <th>MONTHLY AMT. RTND</th>
                                            <th>CUM. AMT. RTND</th>
                                            <th>VARIANCE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.RevenueItems.Count(); i++)
                                        {
                                            <tr>
                                                <td style="visibility:hidden;">@Html.HiddenFor(x => Model.RevenueItems[i].Id)</td>
                                                <td>@Model.RevenueItems[i].RevenueType </td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].MonthlyTarget)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].MonthlyAmtCollected)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].AmmountCollectedToDate)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].MonthlyAmtPaidIntoConsol)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].PaidIntoConsol)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].MonthlyAmountRetained)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].CumAmountRetained)</td>
                                                <td>@Html.TextBoxFor(x => Model.RevenueItems[i].Variance)</td>


                                            </tr>

                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top:20px;">
                            <a class="btn btn-sm btn-default" style="float:left" href="@Url.Action("Index","RevenueEstimate")">Back</a>
                            <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                        </div>
                    </div>

                </section>


            </div>


        </div>


    </div>

}