
@using CEMIS.Utility.ViewModel

@model IEnumerable<PartnerSchoolCPDAssesmentViewModel>


@{
    ViewBag.Title = "Partner School CPD Assesment";
    var i = 1;
}

<div class="page-title">
    <h3 class="breadcrumb-header">@ViewBag.Title</h3>
</div>

<div class="clearfix" style="text-align:right; padding: 20px">

    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add New</button>
</div>

<div id="main-wrapper">

    @*<div class="col-md-24">*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Partner School CPD Assesment Information</h3>
        </div>

        <div class="panel-body table-responsive">
            <div class="table-responsive" style="width:100%; column-width:auto;">
                <table id="example" class="display table table-active" style="width:100%; column-width:auto;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Partner School</th>
                            <th>File Name </th>
                            <th>Academic Year</th>
                            <th>Semester</th>
                            <th>Form Type </th>
                            <th>Date </th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td>@i</td>
                                <td>@item.PartnerSchool</td>
                                @*<td>@item.FileName</td>*@
                                <td><a class="text text-info" href="@item.FilePath" target="_blank">@item.FileName</a></td>
                                <td>@item.AcademicYear</td>
                                <td>@item.Semester</td>
                                <td>@item.FormType</td>
                                <td>@item.Date.ToString("dd-MMM-yyyy")</td>

                                <td>

                                    @*<a class="text-info" href="@item.FilePath">Download</a> ||*@
                                    <a asp-action="Delete" asp-route-Id="@item.Id" class="text text-danger">Delete</a>
                                </td>


                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_create", new PartnerSchoolCPDAssesmentViewModel())




