
@model IEnumerable<StudentResultViewModel>
@{
    ViewBag.Title = "Statement of result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section customstyles
    {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

}

<div class="panel panel-white">
    <div class="panel-heading">
        <h4 class="panel-title">Statement of result</h4>
        @if (Model.Count() > 0)
        {
            <button onclick="goBack()">Go Back</button>
        }
    </div>
    <div class="panel-body">

        @if (Model.Count() == 0)
        {
            <section style="margin:5px">

                @using (Html.BeginForm("Result", "student", FormMethod.Post, new { @id ="resultForm"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-md-12">

                            <label class="col-md-2">Academic Session</label>
                            <div class="col-md-2">
                                <select id="sessionId" class="custom-select custom-select-sm" name="sessionId">
                                    <option value="0"> select.......</option>
                                </select>
                            </div>
                            <label class="col-md-1">Semester</label>
                            <div class="col-md-2">
                                <select class="custom-select" name="semester" id="semester" asp-items="Html.GetEnumSelectList(typeof(Semester))"></select>
                            </div>
                            <label class="col-md-1">Level</label>
                            <div class="col-md-1">
                                <select class="custom-select" name="level" id="level" asp-items="Html.GetEnumSelectList(typeof(Level))"></select>
                            </div>



                        </div>

                    </div>

                    <input  class="btn btn-success btn-sm" style="margin-bottom:15px;  margin-right:10px" onclick="validate()" value="View Result" />
                }
            </section>
        }

        <div class="table-responsive">
            <table id="datatable" class="display table" style="width: 100%; cellspacing: 0;">
                <thead>

                    <tr>
                        <th>Code</th>
                        <th>Title</th>
                        <th>CR</th>
                        <th>GD</th>
    

                    </tr>
                </thead>
                <tbody>
                    @{int rowNo = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CourseCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.CourseTitle)</td>
                            <td>@Html.DisplayFor(modelItem => item.Credit)</td>
                            <td>@Html.DisplayFor(modelItem => item.Grade)</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts {
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
           
            optionText = 'select.....';
            optionValue = '0';
            $('#semester').prepend(`<option value="${optionValue}" selected='selected'>
                                           ${optionText}
                                      </option>`);

            $('#level').prepend(`<option value="${optionValue}" selected='selected'>
                                           ${optionText}
                                      </option>`);

            GetAcademicSession();
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pdf', 'print'
                ]
            });
        });

        function goBack() {
            window.history.back();
        }

        function GetAcademicSession() {
            $('#sessionId option').remove();

                let url = '@Url.Action("GetStudentSession", "student")'
         $.ajax({
             type: "GET",
             url: url,
             success: function (data) {
                 let html = '<option value="0">select........</option>';
                 
                 for (let i = 0; i < data.length; i++) {

                     html += '<option Value="' + data[i].key + '">' + data[i].value + '</option>';
                 }
                 $('#sessionId').html(html);

                
            },
            error: function (resp) {
                console.log(resp);

            }
        });
        }


        function validate() {
            if ($("#sessionId").val() == "0") {
                $.toast({ heading: 'Student Result', text: 'Select a session', showHideTransition: 'slide', icon: 'error', position: 'top-right', });

            } else if ($("#semester").val() == "0") {
                $.toast({ heading: 'Student Result', text: 'Select semester', showHideTransition: 'slide', icon: 'error', position: 'top-right', });

            } else if ($("#level").val() == "0") {
                $.toast({ heading: 'Student Result', text: 'Select level', showHideTransition: 'slide', icon: 'error', position: 'top-right', });

            } else {
                $("#resultForm").submit();
            }
        }
    </script>

}
