

@model IEnumerable<CollegeClassRoomInfoViewModel>
@{
    ViewBag.Title = "College ClassRoom Info";
    var i = 1;
}


<div class="page-title">
    <h3 class="breadcrumb-header">@ViewBag.Title</h3>
</div>
<div class="clearfix" style="text-align:right; padding: 20px">
    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">Create</button>
</div>
<div id="main-wrapper">

    <div class="row">
        <div class="col-24">
            <div id="divModal">
            </div>
            <div class="row">
                <div class="col-md-24">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            &nbsp;
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Year Of Construction</th>
                                            <th>Present Condition</th>
                                            <th>Length In Meters </th>
                                            <th>Width In Meters</th>
                                            <th>Floor Material</th>
                                            <th>Wall Material </th>
                                            <th>Roof Material </th>
                                            <th>Seatings </th>
                                            <th>Has Disability Access </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@i</td>
                                                <td>@item.YearOfConstruction</td>
                                                <td>@item.PresentCondition</td>
                                                <td>@item.LengthInMeters</td>
                                                <td>@item.WidthInMeters</td>
                                                <td>@item.FloorMaterial</td>
                                                <td>@item.WallMaterial</td>
                                                <td>@item.RoofMaterial</td>
                                                <td>@item.Seatings</td>
                                                <td>@item.DisabilityAccess</td>
                                                <td>
                                                    <button class="btn btn-default btn-sm" onclick="manage(@item.Id )">Edit</button>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteClassRoomInfo","College", new { Id = item.Id})"> Delete</a>
                                                </td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" style="float:left" href="@Url.Action("Index","College", new { Id = 1})"> Back To Preview </a>
    </div>
</div>


@Html.Partial("_addClassRoomInfo", new CollegeClassRoomInfoViewModel())
@Html.Partial("_editClassRoomInfo", new CollegeClassRoomInfoViewModel())

@section JavaScript
    {


}

<script>
    function manage(id) {

    $.ajax({
    url: '@Url.Action("editClassRoomInfo", "College")',
    data: { Id: id },
    type: 'GET',
        success: function (response) {
            console.log(response);
            $("#eYearOfConstruction").val(response.YearOfConstruction);
            $("#ePresentCondition").val(response.PresentCondition);
            $("#eLengthInMeters").val(response.LengthInMeters);
            $("#eWidthInMeters").val(response.WidthInMeters);
            $("#eFloorMaterial").val(response.FloorMaterial);
            $("#eWallMaterial").val(response.WallMaterial);
            $("#eRoofMaterial").val(response.RoofMaterial);
            $("#eSeatings").val(response.Seatings);
            $("#eDisabilityAccess").val(response.DisabilityAccess);

            $("#editModal").modal("show");
            jQuery('#editModal').addClass('show')
            //$("editModal").attr("show");
    },
    error: function (xhr, status, error) {
    console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
    }
    });
    }
</script>

