@model RoleDTO

@{
    ViewBag.Title = "Create Role";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter Role Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Create", "Role", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <div class="modal-body">

            <div class="form-group">
                @Html.TextBoxFor(m => m.rolename, new { @class = "form-control", @placeholder = "Role Name" })
                @Html.ValidationMessageFor(m => m.rolename, "", new { @class = "text-danger" })
            </div>

            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-shadow" data-dismiss="modal" id="dismiss">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        }
    </div>
    </div>
    
<script type="text/javascript">
    $('document').ready(function () {
        $("form").submit(function (e) {

            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
               // contentType: "application/json",
                success: function (result) {
                    if (result.success) {
                        $('#addRoleModal').modal("hide");
                        location.href = "@Url.Action("Index","Role")";
                    }
                    else {
                        $('#addRoleModal').html(result);
                          location.href = "@Url.Action("Index","Role")";
                    }
                }, error: function (request, status, error) {

                    alert(JSON.stringify(error));
                }
            });
            return false;

        })

        $('#dismiss').click(function () {
            $('#addRoleModal').modal("hide");
            location.href = "@Url.Action("Index","Role")";
        });

        $('#close').click(function () {
            $('#addRoleModal').modal("hide");
            location.href = "@Url.Action("Index","Role")";
        });
        //$('#rolesLstBx').change(function () {
        //    document.getElementById("hdnRoles").value = document.getElementById("rolesLstBx").value;
        //})
    })
</script>
