@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="border-radius:40px;background:white; width:100%;padding:50px" class="shadow">
    <div class="message message-success shadow" style="border-radius: 6px; padding: 20px;margin-bottom:20px">
        <span style="float:left">
            <i data-feather="edit-2" style="color:tomato"></i>
        </span>
        Change Password Form
    </div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group col-lg-24">
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password", @class = "form-control" })
        </div>
        <div class="form-group col-lg-24">
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password", @class = "form-control" })
        </div>
        <div class="form-group col-lg-24">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })

        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary btn-block">Change password</button>

        </div>
    }

</main>



