@model IEnumerable<ActivityLogViewModel>
@{
    ViewBag.Title = "Audit Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section customstyles
    {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

}

<div class="panel panel-white">
    <div class="panel-heading">
        <h4 class="panel-title">Central Audit Report</h4>
        @if (Model.Count() > 0)
        {
            <button onclick="goBack()">Go Back</button>
        }
    </div>
    <div class="panel-body">

        @if (Model.Count() == 0)
        {
        <section style="margin:5px">

            @using (Html.BeginForm("AuditReport", "SystemsReport", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row form-group">
                    <div class="col-md-12">

                        <label class="col-md-1">Module</label>
                        <div class="col-md-2">
                            <input type="text" name="module" id="module" class="form-control" />
                        </div>
                        <label class="col-md-1">User</label>
                        <div class="col-md-2">
                            @Html.DropDownList("userId", (IEnumerable<SelectListItem>)(ViewBag.UserName), "Select user....", new { @class = "custom-select" })
                        </div>

                        <label class="col-md-1">Date From</label>
                        <div class="col-md-2">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input type="text" name="datefrom" id="datefrom" autocomplete="off" class="form-control" />
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>

                        <label class="col-md-1">Date To</label>
                        <div class="col-md-2">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input type="text" name="dateto" id="dateto" autocomplete="off" class="form-control" />
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
               
                        <input type="submit" class="btn btn-success btn-sm" style="margin-bottom:15px; margin-right:10px" value="Generate Report" />
                        }
            </section>
        }

        <div class="table-responsive">
            <table id="datatable" class="display table" style="width: 100%; cellspacing: 0;">
                <thead>

                    <tr>
                        <th>S/N</th>
                        <th>User Name</th>
                        <th>Module</th>
                        <th>Action</th>
                        <th>IP Address</th>
                        <th>Description</th>
                        <th>Date Created</th>

                    </tr>
                </thead>
                <tbody>
                    @{int rowNo = 0;}
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@(rowNo += 1)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Module)</td>
                        <td>@Html.DisplayFor(modelItem => item.Action)</td>
                        <td>@Html.DisplayFor(modelItem => item.IPAddress)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>

                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts {
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            optionText = 'select.....';
            optionValue = '3';
            $('#status').prepend(`<option value="${optionValue}" selected='selected'>
                                       ${optionText}
                                  </option>`);

            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        function goBack() {
            window.history.back();
        }

    </script>

}


