@using CEMIS.Web.CentralPortal.Utilities;
@using Newtonsoft.Json;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
          content="College Of Education Management Information System " />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="author" content="stacks" />
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>CEMIS - College Of Education Management Information System</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
          rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" />
    <link href="~/lib/icomoon/style.css" rel="stylesheet" />
    <link href="~/lib/uniform/css/default.css" rel="stylesheet" />
    <link href="~/lib/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/lib/jq-toast/jquery.toast.min.css" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="~/css/space.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Inner -->
        <div class="page-inner login-page">
            <div id="main-wrapper" class="container-fluid">
                <a href="#"><h3 class="logo">CEMIS</h3></a>
                <div class="row">
                    <div class="col-lg-offset-4 col-sm-6 col-md-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </div>

    <!-- /Page Container -->
    <!-- Javascripts -->
    <script src="~/lib/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/uniform/js/jquery.uniform.standalone.js"></script>
    <script src="~/lib/switchery/switchery.min.js"></script>
    <script src="~/js/space.min.js"></script>
    @*<script src="~/lib/jquery/jquery-3.1.0.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/lib/jq-toast/jquery.toast.min.js"></script>
    <script>
    @{
            if (TempData["Notification"] != null)
            {
                var notification = JsonConvert.DeserializeObject<Notification>(TempData["Notification"].ToString());
                if (notification.Type == NotificationsType.Success) {
                @: $.toast({ heading: '@notification.Title', text: '@notification.Message', showHideTransition: 'slide', icon: 'success', position: 'top-right', });
            } else if (notification.Type == NotificationsType.Danger) {
                @: $.toast({ heading: '@notification.Title', text: '@notification.Message', showHideTransition: 'slide', icon: 'error', position: 'top-right', });
            } else if (notification.Type == NotificationsType.Info) {
                @: $.toast({ heading: '@notification.Title', text: '@notification.Message', showHideTransition: 'slide', icon: 'info', position: 'top-right', });
            } else if (notification.Type == NotificationsType.Warning) {
                @: $.toast({ heading: '@notification.Title', text: '@notification.Message', showHideTransition: 'slide', icon: 'warning', position: 'top-right', });
            }
                }
            }
    



    </script>
</body>
@RenderSection("Scripts", required: false)

</html>
