@using CEMIS.Utility.ViewModel

@*@model IEnumerable<StudentViewModel>*@

@model ExistingStudentFormViewModel


@{
    ViewBag.Title = "Existing Student Information";
    var i = 1;
}

<div class="page-title">
    <h3 class="breadcrumb-header">@ViewBag.Title</h3>
</div>

<div class="clearfix" style="text-align:right; padding: 20px">

    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">Upload Existing Students</button>
</div>

<div id="main-wrapper">

    @*<div class="col-md-24">*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Existing Student Information</h3>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top:50px; margin-bottom:50px">

                    @using (Html.BeginForm("ExistingStudent", "Student", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    <label>Academic Session:</label>
                                    @Html.DropDownListFor(x => @x.AcademicSessionId, new SelectList(ViewBag.AcademicSession, "Value", "Text"), "Select Academic Session", new { @class = "custom-select form-control-sm" })
                                    @Html.ValidationMessageFor(x => @x.AcademicSessionId, null, new { @style = "color:red" })
                                </div>
                                <div class="col-md-3">
                                    <label>Program:</label>
                                    @Html.DropDownListFor(x => @x.ProgramId, new SelectList(ViewBag.Program, "Value", "Text"), "Select Program", new { @class = "custom-select form-control-sm" })
                                    @Html.ValidationMessageFor(x => @x.ProgramId, null, new { @style = "color:red" })
                                </div>
                                <div class="col-md-3">
                                    <label>Level:</label>
                                    @Html.DropDownListFor(x => @x.LevelId, new SelectList(ViewBag.Level, "Value", "Text"), "Select Level", new { @class = "custom-select form-control-sm" })
                                    @Html.ValidationMessageFor(x => @x.LevelId, null, new { @style = "color:red" })
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary" style="float:right; margin-top:24px">View</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="panel-body table-responsive">
            <div class="table-responsive" style="width:100%; column-width:auto;">
                <table id="example" class="display table table-active" style="width:100%; column-width:auto;">
                    <thead>
                        <tr>
                            <th>#</th>
                            @*<th>Ref. Number</th>*@
                            <th>Student Id</th>
                            <th>Surname</th>
                            <th>Other Names</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Students)
                        {
                            <tr class="odd gradeX">
                                <td>@i</td>
                                @*<td>@item.AppRefNumber</td>*@
                                <td>@item.StudentId</td>
                                <td>@item.Surename</td>
                                <td>@item.OtherNames</td>

                                <td>
                                    @*@Html.ActionLink("Manage", "manage", "Staff", new { Id = item.Id }, new { @class = "btn btn-primary btn-sm" })*@
                                </td>

                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

@Html.Partial("_existingStudentUpload", new ExistingStudentFileUpload())

