@using  CEMIS.Web.CentralPortal
@model IEnumerable<CollegeLeadershipViewModel>
@{
    ViewBag.Title = "College Leadership Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section customstyles
    {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

}

<div class="panel panel-white">
    <div class="panel-heading">
        <h4 class="panel-title">Central College Leadership Report</h4>
    </div>
    <div class="panel-body">

        @if (Model.Count() == 0)
        {
            <section style="margin:5px">

                @using (Html.BeginForm("CollegeLeadershipReport", "Report", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-md-12">

                            <label class="col-md-1">Name</label>
                            <div class="col-md-2">
                                <input type="text" name="name" id="name" class="form-control" />
                            </div>
                            <label class="col-md-1">College</label>
                            <div class="col-md-2">
                                @*@Html.DropDownList("collegeId", (IEnumerable<SelectListItem>)(ViewBag.College), "Select college....", new { @class = "custom-select" })*@
                                <select name="collegeId" class="custom-select" asp-items="@((IEnumerable<SelectListItem>)(ViewBag.College))"></select>
                            </div>
                        </div>

                    </div>

                    <input type="submit" class="btn btn-success btn-sm" style="margin-bottom:15px; margin-right:10px" value="Generate Report" />
                }
            </section>
        }

        <div class="table-responsive">
            <table id="datatable" class="display table" style="width: 100%; cellspacing: 0;">
                <thead>

                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Role</th>
                        <th>College</th>
                        <th>Council Member</th>
                        <th>Email</th>
                        <th>Phone 1</th>
                        <th>Phone 2</th>
                        <th>Postal Address</th>
                        <th>Date Appointed</th>
                        <th>Date left</th>


                    </tr>
                </thead>
                <tbody>
                    @{int rowNo = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(rowNo += 1)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>

                            <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role)</td>

                            <td>@Html.DisplayFor(modelItem => item.College)</td>
                            <td>@Html.DisplayFor(modelItem => item.CouncilMember)</td>

                            <td>@Html.DisplayFor(modelItem => item.CouncilMemberEmail)</td>
                            <td>@Html.DisplayFor(modelItem => item.CouncilMemberPhone1)</td>
                            <td>@Html.DisplayFor(modelItem => item.CouncilMemberPhone2)</td>

                            <td>@Html.DisplayFor(modelItem => item.CouncilMemberPostalAddress)</td>
                            <td>@item.DateAppointed.ToString("dd/MMM/yyyy")</td>
                            <td>@Html.DisplayFor(modelItem => item.DateLeft)</td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts {
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });



    </script>

}
