@model CollegeSummary
@{


}
<style>
    .dash_quick_links {
        text-align: center;
        background: hsl(172, 57%, 97%);
        padding: 10px 20px;
        border: 3px solid hsl(171, 54%, 73%);
        transition: background 1s;
        display: block;
    }

        .dash_quick_links:hover {
            background: hsl(172, 80%, 92%);
        }

        .dash_quick_links svg {
            margin-bottom: 80px
        }

        .dash_quick_links a {
            display: block;
        }

    .breadcrumb-header {
        font-weight: 800
    }

    .dash_quick_links .dropdown-menu.dropdown-menu-right:after, .navbar-right .dropdown-menu:after {
        border: none !important;
        content: initial !important;
    }

    .dropdown-menu.dropdown-menu-right:before, .navbar-right .dropdown-menu:before {
        border: none !important;
        content: initial !important;
    }
</style>
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Dashboard</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">@Model.College</span>
                            <p class="stats-info">College</p>
                        </div>
                        @if (Model.CollegeIncr == DashBoardStatus.Decrease)
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_downward stats-icon"></i>
                            </div>
                        }
                        else
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_upward stats-icon"></i>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">@Model.Facility</span>
                            <p class="stats-info">Facility</p>
                        </div>

                        @if (Model.FacilityIncr == DashBoardStatus.Decrease)
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_downward stats-icon"></i>
                            </div>
                        }
                        else
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_upward stats-icon"></i>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">@Model.Teachingstaff</span>
                            <p class="stats-info">Teacher Staff</p>

                        </div>
                        @if (Model.TeachingstaffIncr == DashBoardStatus.Decrease)
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_downward stats-icon"></i>
                            </div>
                        }
                        else
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_upward stats-icon"></i>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">@Model.Leadership</span>
                            <p class="stats-info">College Leadership</p>
                        </div>
                        @if (Model.LeadershipIncr == DashBoardStatus.Decrease)
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_downward stats-icon"></i>
                            </div>
                        }
                        else
                        {
                            <div class="pull-right">
                                <i class="icon-arrow_upward stats-icon"></i>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Cemis Portal</h3>
    </div>
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Line</h4>
                        </div>
                        <div id="flot3"><svg></svg></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">College Facility</h4>
                        </div>
                        <canvas id="facilityChat"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="dash_quick_links">
                    <div class="dropdown" style="text-align:right">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Users","User")">Manager Users</a></li>
                            <li><a href="@Url.Action("Index","Role")">Manager Roles</a></li>
                        </ul>
                    </div>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="49.773" height="45.872" viewBox="0 0 49.773 45.872">
                            <g id="social-network" transform="translate(0 -20.066)">
                                <g id="Group_3" data-name="Group 3" transform="translate(0 20.066)">
                                    <path id="Path_5" data-name="Path 5" d="M48.423,39.744a4.605,4.605,0,0,0-7.628,1.8H30.942A6.519,6.519,0,0,0,29.4,40.415a6.022,6.022,0,0,0,1.538-4.023,6.092,6.092,0,0,0-.031-.619l6.346-6.9A4.608,4.608,0,1,0,35.1,26.9l-5.387,5.855a6.04,6.04,0,0,0-9.658,0L14.67,26.9a4.6,4.6,0,1,0-2.146,1.975l6.346,6.9a6.089,6.089,0,0,0-.031.619,6.022,6.022,0,0,0,1.538,4.023,6.521,6.521,0,0,0-1.546,1.129H8.978a4.605,4.605,0,0,0-7.628-1.8,4.608,4.608,0,0,0,6.517,6.517,4.579,4.579,0,0,0,1.111-1.8h8.144a6.47,6.47,0,0,0-.228,1.7v5.526a3.98,3.98,0,0,0,.052.636l-4.421,4.8A4.608,4.608,0,1,0,14.671,59.1l3.866-4.2a3.95,3.95,0,0,0,2.33.758h8.04a3.95,3.95,0,0,0,2.33-.758L35.1,59.1a4.608,4.608,0,1,0,2.146-1.975l-4.421-4.8a3.98,3.98,0,0,0,.052-.636V46.162a6.47,6.47,0,0,0-.228-1.7H40.8a4.607,4.607,0,1,0,7.628-4.717ZM37.938,23.476a1.692,1.692,0,1,1,0,2.393A1.686,1.686,0,0,1,37.938,23.476Zm-26.1,2.393a1.691,1.691,0,1,1,0-2.393A1.694,1.694,0,0,1,11.835,25.868ZM5.8,44.2a1.691,1.691,0,1,1,0-2.393A1.694,1.694,0,0,1,5.8,44.2Zm6.03,18.33a1.691,1.691,0,1,1,0-2.393A1.694,1.694,0,0,1,11.835,62.528ZM24.886,33.26a3.131,3.131,0,1,1-3.131,3.131A3.135,3.135,0,0,1,24.886,33.26Zm5.076,18.427a1.057,1.057,0,0,1-1.056,1.056h-8.04a1.057,1.057,0,0,1-1.056-1.056V46.162a3.575,3.575,0,0,1,3.571-3.571h3.011a3.575,3.575,0,0,1,3.571,3.571Zm7.976,8.448a1.692,1.692,0,1,1,0,2.393A1.687,1.687,0,0,1,37.938,60.136ZM46.361,44.2a1.691,1.691,0,1,1,.5-1.2A1.694,1.694,0,0,1,46.361,44.2Z" transform="translate(0 -20.066)" fill="#55bfae" />
                                </g>
                            </g>
                        </svg>
                        <h4> User Management </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dash_quick_links">
                    <div class="dropdown" style="text-align:right">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Index","College")">College Summary</a></li>

                        </ul>
                    </div>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46">
                            <g id="school" transform="translate(0 -0.001)">
                                <g id="Group_5" data-name="Group 5" transform="translate(0 0.001)">
                                    <g id="Group_4" data-name="Group 4">
                                        <path id="Path_6" data-name="Path 6" d="M315.8,361.594h7.188a1.8,1.8,0,0,0,0-3.594H315.8a1.8,1.8,0,0,0,0,3.594Z" transform="translate(-285.789 -325.836)" fill="#55bfae" />
                                        <path id="Path_7" data-name="Path 7" d="M86.984,262H79.8a1.8,1.8,0,0,0,0,3.594h7.188a1.8,1.8,0,0,0,0-3.594Z" transform="translate(-70.992 -238.461)" fill="#55bfae" />
                                        <path id="Path_8" data-name="Path 8" d="M78,170.8a1.8,1.8,0,0,0,1.8,1.8h7.188a1.8,1.8,0,0,0,0-3.594H79.8A1.8,1.8,0,0,0,78,170.8Z" transform="translate(-70.992 -153.816)" fill="#55bfae" />
                                        <path id="Path_9" data-name="Path 9" d="M315.8,265.594h7.188a1.8,1.8,0,0,0,0-3.594H315.8a1.8,1.8,0,0,0,0,3.594Z" transform="translate(-285.789 -238.461)" fill="#55bfae" />
                                        <path id="Path_10" data-name="Path 10" d="M44.2,13.657H24.8V8.626a1.8,1.8,0,0,0-.824-1.511L13.371.287a1.8,1.8,0,0,0-1.946,0L.824,7.115A1.8,1.8,0,0,0,0,8.626V44.2A1.8,1.8,0,0,0,1.8,46H44.2A1.8,1.8,0,0,0,46,44.2V15.454A1.8,1.8,0,0,0,44.2,13.657ZM14.016,42.407H10.781V35.759h3.234Zm7.188,0H17.609V33.962a1.8,1.8,0,0,0-1.8-1.8H8.984a1.8,1.8,0,0,0-1.8,1.8v8.445H3.594V9.606l8.8-5.671,8.8,5.671Zm21.2,0H24.8V17.251H42.406Z" transform="translate(0 -0.001)" fill="#55bfae" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h4> College Setup </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dash_quick_links">
                    <div class="dropdown" style="text-align:right">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Index","CollegeLeadership")">College Leadership</a></li>

                        </ul>
                    </div>
                    <a href="">
                        <svg id="accept" xmlns="http://www.w3.org/2000/svg" width="44.363" height="46.304" viewBox="0 0 44.363 46.304">
                            <path id="Path_11" data-name="Path 11" d="M71.211,98.637h-8.1a1.357,1.357,0,1,0,0,2.713h8.1a1.357,1.357,0,0,0,0-2.713Zm0,0" transform="translate(-56.173 -89.716)" fill="#50c0ae" />
                            <path id="Path_12" data-name="Path 12" d="M71.211,158.641h-8.1a1.357,1.357,0,1,0,0,2.713h8.1a1.357,1.357,0,1,0,0-2.713Zm0,0" transform="translate(-56.173 -144.294)" fill="#50c0ae" />
                            <path id="Path_13" data-name="Path 13" d="M71.211,218.645h-8.1a1.357,1.357,0,1,0,0,2.713h8.1a1.357,1.357,0,1,0,0-2.713Zm0,0" transform="translate(-56.173 -198.871)" fill="#50c0ae" />
                            <path id="Path_14" data-name="Path 14" d="M71.211,278.648h-8.1a1.357,1.357,0,1,0,0,2.713h8.1a1.357,1.357,0,1,0,0-2.713Zm0,0" transform="translate(-56.173 -253.448)" fill="#50c0ae" />
                            <path id="Path_15" data-name="Path 15" d="M71.211,339.656h-8.1a1.357,1.357,0,1,0,0,2.713h8.1a1.357,1.357,0,1,0,0-2.713Zm0,0" transform="translate(-56.173 -308.939)" fill="#50c0ae" />
                            <path id="Path_16" data-name="Path 16" d="M203.013,101.35h8.1a1.357,1.357,0,1,0,0-2.713h-8.1a1.357,1.357,0,0,0,0,2.713Zm0,0" transform="translate(-183.419 -89.716)" fill="#50c0ae" />
                            <path id="Path_17" data-name="Path 17" d="M203.013,161.354h8.1a1.357,1.357,0,1,0,0-2.713h-8.1a1.357,1.357,0,1,0,0,2.713Zm0,0" transform="translate(-183.419 -144.294)" fill="#50c0ae" />
                            <path id="Path_18" data-name="Path 18" d="M208.269,220a1.356,1.356,0,0,0-1.357-1.357h-3.9a1.357,1.357,0,1,0,0,2.713h3.9A1.356,1.356,0,0,0,208.269,220Zm0,0" transform="translate(-183.419 -198.871)" fill="#50c0ae" />
                            <path id="Path_19" data-name="Path 19" d="M319.149,342.986a1.357,1.357,0,0,0-1.907.209l-3.494,4.356-2.163-1.567a1.357,1.357,0,1,0-1.592,2.2l3.209,2.325a1.356,1.356,0,0,0,1.854-.25l4.3-5.363A1.356,1.356,0,0,0,319.149,342.986Zm0,0" transform="translate(-281.448 -311.696)" fill="#50c0ae" />
                            <path id="Path_20" data-name="Path 20" d="M41.129,27.126a11.187,11.187,0,0,0-6.5-3.265V5.463A5.47,5.47,0,0,0,29.168,0H5.464A5.47,5.47,0,0,0,0,5.463V36.888a5.47,5.47,0,0,0,5.463,5.464H24.529A11.167,11.167,0,0,0,33.1,46.3a11.275,11.275,0,0,0,8.033-19.178ZM2.713,36.888V5.463a2.754,2.754,0,0,1,2.751-2.75h23.7a2.753,2.753,0,0,1,2.75,2.75V23.817a11.282,11.282,0,0,0-9.107,15.82H5.464A2.753,2.753,0,0,1,2.713,36.888Zm30.383,6.7a8.561,8.561,0,0,1,0-17.122h.155a8.561,8.561,0,0,1-.155,17.12Zm0,0" fill="#50c0ae" />
                        </svg>
                        <h4> College Leadership </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dash_quick_links">
                    <div class="dropdown" style="text-align:right">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Index","Staff")">College Staff</a></li>
                        </ul>
                    </div>
                    <a href="#">
                        <svg id="report" xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46">
                            <path id="Path_21" data-name="Path 21" d="M35.043,21.563a4.028,4.028,0,0,0,2.8-1.134l3.966,1.983a4.043,4.043,0,1,0,7.659-1.243l5.391-5.391a4.043,4.043,0,0,0,5.6-4.857l4.684-3.513a4.038,4.038,0,1,0-1.619-2.155L58.845,8.765a4.042,4.042,0,0,0-5.887,5.106l-5.391,5.391A4.034,4.034,0,0,0,43.02,20l-3.966-1.983a4.042,4.042,0,1,0-4.011,3.544ZM67.387,2.7a1.348,1.348,0,1,1-1.348,1.348A1.349,1.349,0,0,1,67.387,2.7ZM56.605,10.781a1.348,1.348,0,1,1-1.348,1.348A1.349,1.349,0,0,1,56.605,10.781ZM45.824,21.563a1.348,1.348,0,1,1-1.348,1.348A1.349,1.349,0,0,1,45.824,21.563ZM35.043,16.172A1.348,1.348,0,1,1,33.7,17.52,1.349,1.349,0,0,1,35.043,16.172Zm0,0" transform="translate(-28.215)" fill="#4ac1ae" />
                            <path id="Path_22" data-name="Path 22" d="M44.652,179.828H43.215v-28.48A1.348,1.348,0,0,0,41.867,150H36.477a1.348,1.348,0,0,0-1.348,1.348v28.48h-2.7V159.434a1.348,1.348,0,0,0-1.348-1.348H25.7a1.348,1.348,0,0,0-1.348,1.348v20.395h-2.7v-9.613a1.348,1.348,0,0,0-1.348-1.348H14.914a1.348,1.348,0,0,0-1.348,1.348v9.613h-2.7v-15a1.348,1.348,0,0,0-1.348-1.348H4.133a1.348,1.348,0,0,0-1.348,1.348v15H1.348a1.348,1.348,0,0,0,0,2.7h43.3a1.348,1.348,0,0,0,0-2.7ZM37.824,152.7h2.7v27.133h-2.7Zm-10.781,8.086h2.7v19.047h-2.7ZM16.262,171.563h2.7v8.266h-2.7ZM5.48,166.172h2.7v13.656H5.48Zm0,0" transform="translate(0 -136.523)" fill="#4ac1ae" />
                        </svg>
                        <h4> College Staff </h4>
                    </a>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Line</h4>
                        </div>
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">College Facility</h4>
                        </div>
                        <canvas id="facilityChat"></canvas>
                    </div>
                </div>
            </div>
        </div>*@


    </div><!-- Row -->
        </div><!-- Main Wrapper -->

        <script>
            var Facility = [];
            var CollegeStaff = [];
            window.onload = function () {

                getChartData();
            //    new Chart(document.getElementById("chart1"),
            //        {
            //            "type": "line", "data": {
            //                "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{
            //                    "label": "My First Dataset",
            //                    "data": [65, 59, 80, 81, 56, 55, 40],
            //                    "fill": false,
            //                    "borderColor": "rgb(99, 203, 137)",
            //                    "lineTension": 0.1
            //                }]
            //            }, "options": {}
            //        });

                
            };


            function showChart() {
                
                let popCanvasName = document.getElementById("facilityChat");
                let barChartName = new Chart(popCanvasName, {
                    type: 'bar',
                    data: {
                        labels: Facility.name,
                        datasets: [{
                            label: 'College Facility',
                            data: Facility.value,
                            backgroundColor: Facility.color
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    display: false
                                }
                            }]

                        },
                       
                        tooltips: {
               
                        }
                    }
                });





                var flot3 = function () {
                    var data = CollegeStaff

                    
                    var options = {
                        series: {
                            pie: {
                                show: true
                            },
                            innerRadius: 0.5,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                },
                                background: { opacity: 0.5 }
                            }
                        },
                        legend: {
                            show: false,
                            labelFormatter: function (label, series) {
                                return '<span class="pie-chart-legend">' + label + '</span>';
                            }
                        },
                        grid: {
                            hoverable: true
                        },
                        tooltip: true,
                        responsive: true,
                        tooltipOpts: {
                            content: "%p.0%, %s",
                            shifts: {
                                x: 10,
                                y: 0
                            },
                            defaultTheme: false
                        }
                    };
                    $.plot($("#flot3"), data, options);
                };

                flot3();


            }
            function getChartData() {
                var url = '@Url.Action("GetDashBoardAnalytics", "Analytics")';

         $.ajax({
             type: "GET",
             url: url,
             success: function (data) {
                 console.log(data);
                 
                 Facility = data.facilityAnalytics;
                 CollegeStaff = data.teachingStaffAnalytics;
                  //myInvoices = responseJSON;
                 showChart();
            },
            error: function (resp) {
                console.log(resp);

            }
        });

               
            }
            

        </script>

